* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

header.navbar {
    background-color: #00bcd4;
    color: #fff;
    padding: 10px;
    height: 170px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header.navbar .Name h1:hover {
    transition: transform 0.3s;
    color: #333; ;
    transform: scale(2)
}


div.profile-photo img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 20px;
}

/* Style the profile photo with a specific width, height, and transition effect */
div.profile-photo img {
    transition: transform 0.3s;

}

/* Add hover effect to scale the image */
div.profile-photo:hover img {
    transform: scale(1.1);
}

div.add-cont-icon {
    display: flex;
    margin-right: 50px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
}

/* Style the icons */
div.add-cont-icon i {
    font-size: 24px;
    margin-right: 50px;
    cursor: pointer;
    margin: 2%;
    text-transform: lowercase;
    font-size: 14px;
    color: white;
}

div.add-cont-icon i:hover {
    transition: transform 0.3s;
    color: #333; ;
    transform: scale(1.2)
}

/* summary */
/* Style the container div */
/* Summary section styling */
/* Default styles for div.Summary */
div.Summary {
    background-color: #f9f9f9;
    background-image: url('white2.jpg');
    background-size: cover;
    color: #333;
    height: 100px;
    padding: 20px;
    display: flex;
    font-style: italic;
    align-items: center;
}

/* Default styles for div.Summary text */
div.Summary p {
    font-style: italic;
    font-size: 12px;
    line-height: 1.5;
    padding-left: 30px;
    overflow-y: auto; /* Add vertical scrollbar for overflow text */
    max-height: 100px; /* Set a maximum height for the scrollbar */
}

/* Default styles for div.Summary heading */
div.Summary h1 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
    transition: color 0.3s, transform 0.3s;
}

/* Hover effect for div.Summary heading */
div.Summary h1:hover {
    color: #00bcd4;
    transform: scale(1.05);
}

/* Media query for mobile devices (max-width: 767px) */
@media (max-width: 767px) {
    /* Adjust styles for mobile here */
    div.Summary {
        padding: 10px; /* Decrease padding for smaller screens */
    }

    div.Summary p {
        font-size: 10px; /* Decrease font size for smaller screens */
        padding-left: 10px; /* Adjust padding for smaller screens */
    }

    div.Summary h1 {
        font-size: 16px; /* Decrease font size for smaller screens */
        margin-bottom: 5px; /* Adjust margin for smaller screens */
    }
}


/* Experience and Skill section container styling */
.exp-skill {
    padding: 20px;
    background-color: #fff;
    background-image: url('white2.jpg');
    background-size: cover;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

/* Individual experience styling */
.experience {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
}

/* Company name styling */
.experience h3 {
    font-size: 12px;
    margin-bottom: 10px;
    color: #333;
}

/* Company name link styling */
.experience h3 a {
    text-decoration: none;
    color: #00bcd4;
    margin-left: 100px;
    font-size: 15px;
    font-style: italic;
    font-weight: bold;
}

/* Position and date styling */
.experience p {
    font-size: 10px;
    margin-bottom: 10px;
    color: #555;
}

/* Individual experience details styling */
.experience span {
    font-weight: bold;
    color: #333;
    font-size: 15px;
    text-decoration: none;
}

/* List items styling */
.experience ul {
    font-style: italic;
    font-size: 12px;
    line-height: 1.5;
    padding-left: 100px;
    margin-left: 50px;
}

/* List items hover effect */
.experience ul:hover {
    transition: transform 0.5s;
    transform: scale(1.1);
}

/* List item links styling */
.experience ul a {
    text-decoration: none;
    color: #333;
    margin-right: 5px;
    font-size: 15px;
    font-style: italic;
    font-weight: bold;
}

/* Company name link hover effect */
.experience h3 a:hover {
    color: rgba(14, 14, 238, 0.896);
    transition: transform 0.3s;
    transform: scale(1.2);
}

/* Education section styling */
.education {
    padding: 20px;
    background-color: #fff;
    background-image: url('white2.jpg');
    background-size: cover;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

/* Education section heading styling */
.education h2 {
    font-size: 28px;
    margin-bottom: 10px;
    color: #333;
}

/* Education entry styling */
.education-entry {
    margin-bottom: 10px;
    padding: 10px;
    font-style: italic;
    font-size: 10px;
    line-height: 1;
    padding-left: 30px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
}

/* Education entry heading styling */
.education-entry h3 {
    font-size: 15px;
    margin-bottom: 10px;
    color: #333;
    transition: color 0.3s, transform 0.3s;
}

/* Education entry heading hover effect */
.education-entry:hover h3 {
    transition: transform 0.3s;
    transform: scale(0.9);
    color: #333;
}

/* Education entry details styling */
.education-entry p {
    font-size: 10px;
    margin-bottom: 10px;
    color: #333;
}

/* Skill section container styling */
.skill {
    padding: 20px;
    background-color: #f9f9f9;
    background-image: url('white2.jpg');
    background-size: cover;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Skills list styling */
.skills-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
}

/* Individual skill item styling */
.skills-list li {
    flex-basis: calc(20% - 20px); /* Five skills in one line */
    margin-bottom: 10px;
    padding: 5px;
    background-color: #00bcd4;
    border-radius: 5px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    font-size: 15px;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Skill item hover effect */
.skills-list li:hover {
    transition: transform 0.5s;
    transform: scale(0.7);
    background-color: #333;
}

/* Footer styling */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

/* Contact and social media headings */
.contact h3, .social h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

/* Contact info and social media text */
.contact p, .social ul {
    font-size: 14px;
    margin: 5px 0;
}

/* Social media list */
.social ul {
    list-style: none;
    padding: 0;
}

/* Social media item styling */
.social li {
    font-size: 14px;
    margin: 5px 0;
}

/* Social media link styling */
.social a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}

/* Social media link hover effect */
.social a:hover {
    color: #00bcd4;
}

/* Media Query for mobile devices */
@media screen and (max-width: 768px) {
    header.navbar {
        flex-direction: column;
        height: auto;
        text-align: center;
    }

    header.navbar .Name h1 {
        margin-top: 10px;
    }

    div.add-cont-icon {
        flex-direction: row;
        margin-right: 0;
        margin-top: 20px;
    }

    div.add-cont-icon i {
        margin-right: 20px;
    }

    div.profile-photo img {
        margin: 0 auto;
    }

    .skills-list li {
        flex-basis: calc(33.33% - 20px); /* Three skills in one line on mobile */
    }
}

